@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 16px/1.5 Roboto, sans-serif;
    background-color: #050607;
    overflow-x: hidden;
    color: #59f8ed;
    padding-bottom: 5px;
}
h1{
    text-align: center;
    font-size: 2.5rem;
}
.timeline{
    background-color: rgba(52, 53, 54, 0.09);
    border: 2px solid rgba(42, 44, 45, 0.1);
    box-shadow: 0 25px 45px rgb(0, 0, 0 , 0.1);
    backdrop-filter: blur(20px);
    padding: 50px 0;
    max-width: 1300px;
    margin: 2rem auto;
    border-radius: 10px;
    position: relative;
}
@keyframes zoomInOut{
    0%,
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.2);
    }
}
.timeline ul li{
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgb(246, 206, 131 , 0.8);
    border: rgb(246, 206, 131);
    box-shadow: 0 25px 45px rgb(0, 0, 0 , 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.timeline ul li::after{ 
    content: '';
    position: absolute;
    left: 0%;
    bottom: -19px;
    transform: translateX(-40%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: 59f8ed ;
    z-index: 1;
}
.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 2rem;
    background-color: #050607;
    box-shadow: 0px 0px 0px 6px rgb(255 255 255 / 40%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #59f8ed;
    margin: 1rem 0;
    opacity: 0.9;
}
.timeline ul li div:hover{
    opacity: 1;
}
.timeline ul li div::before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}
/* .timeline ul li div::after{
    content: '';
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 100%;
    left: 20%;
    background-image: url(assets/1.png);
    border-style: solid;
    animation: zoomInOut 8s linear infinite;
    z-index: -1;
} */
.timeline ul li:nth-child(odd) div{
    left: 45px;
}
.timeline ul li:nth-child(odd) div::before{
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color:transparent rgb(246, 206, 131) transparent transparent;
}
.timeline ul li:nth-child(even) div{
    left: -429px;
}
.timeline ul li:nth-child(even) div::before{
    right: -16px;
    border-width: 8px 0px 8px 16px;
    border-color:transparent transparent transparent rgb(246, 206, 131) ;
}
.timeline ul li div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 3px;
    background-color: #65686a;
    box-shadow: rgb(255 255 255 / 40%);
    margin-top: -10rem;
}
h3{
    display: block;
    font-size: 1.2rem;
    margin-top: -1rem;
    float: right;
    text-transform: uppercase;
}
.timeline ul li::after{
    transition: background 0.5s ease-in-out;
}
.timeline ul li.in-view::after{
    background-color: rgb(246, 206, 131);
}
.timeline ul li div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(odd) div{
    transform: translate3d(200px , 0, 0);
}
.timeline ul li:nth-child(even) div{
    transform: translate3d(-200px , 0, 0);
}
.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}
